{
  "presets": ["@babel/preset-env"],
  "ignore": ["src/**/*.spec.js", "src/**/*.test.js"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", { "alias": { "src": "./src" } }]
  ]
}
