{
  "presets": ["@babel/preset-env"],
  "ignore": ["src/**/*.spec.js", "src/**/*.test.js"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
